.project-content {
  width: 17rem;
  height: 22rem;
  background-color: var(--primary-black);
  border-radius: 0.5rem;
  border: 1px solid white;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1rem;
}

.project-content > a > img {
  width: 16rem;
  height: 14rem;
  padding: 0.5rem;
  cursor: pointer;
}
.project-content > a > img:hover {
  opacity: 0.5s;
  transition: 0.7s;
}
.project-content > h4 {
  color: var(--primary-orange);
  font-family: "karantina";
  padding: 0.5rem 0;
  font-size: 1.5rem;
}
.project-content > p {
  text-align: center;
  font-family: "karantina";
  color: var(--primary-white);
}
.project-content > a {
  font-family: "karantina";
  color: var(--primary-white);
  text-decoration: none;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
}

/*  Responsive of all device */
@media only screen and (max-width: 600px) {
  .project-content {
    width: 100%;
    height: 25rem;
    background-color: var(--primary-black);
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem;
  }
  .project-content > a > img {
    width: 100%;
    height: 17rem;
    border-radius: 0.2rem;
  }
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
  .project-content {
    width: 90%;
    height: 25rem;
  }
  .project-content > a > img {
    width: 100%;
    height: 17rem;
  }
}
