.main-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  background-color: var(--primary-black);
  box-shadow: 0 0.2rem 0.4rem;
  line-height: 0.5rem;
}
.footer-content > p {
  color: var(--primary-orange);
  padding: 0.5rem 1rem;
  font-family: "karantina";
  font-size: 1.2rem;
  margin: 0.5rem;
  text-align: center;
}
.footer-logo {
  display: none;
  margin: 0 1rem;
  padding: 0 1rem;
}

/*  Responsive for all device */
@media only screen and (max-width: 600px) {
  .main-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .footer-logo {
    display: block;
    margin: 0 1rem;
    padding: 0 1rem;
  }
}

@media only screen and (min-width: 601px) and (max-width: 800px) {
}
