.main-experience {
  position: relative;
  background: url(../../assets/experience.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  /* background-color: var(--primary-black) */
  height: 100vh;
}
.ex-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ex-info > h3 {
  color: var(--primary-white);
  font-family: "karantina";
  padding: 1rem;
  font-size: 3rem;
}
.ex-info > p {
  width: 80%;
  font-size: 1.5rem;
  margin: 0 auto;
  color: var(--primary-orange);
  font-family: "Inconsolata";
  padding: 2rem 1rem;
}

/*  Responsive of all device */
@media only screen and (max-width: 600px) {
  .ex-info > p {
    width: 90%;
    font-size: 1rem;
  }

  .ex-info > h3 {
    font-size: 1.5rem;
    text-align: center;
  }
}
